[user]
	name = yordycg
	email = yordy.carmona8@gmail.com
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[init]
	defaultbranch = main
[pretty]
  colored = format:%C(yellow)%h%Creset <%an> %s %C(green)(%cr) %Creset
  graph = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[alias]
  a = add --all
  d = diff
  dc = diff --cached
  c = commit
  cm = commit -m
  s = status -s
  st = status
  l = log --pretty=oneline --abbrev-commit --max-count=15
  ll = log --pretty=colored --abbrev-commit --max-count=25
  lll = log --pretty=graph --graph --abbrev-commit --date=relative
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[pull]
  rebase = false
[merge]
  tool = code
