[user]
	name = Yordy Carmona
	email = yordy.carmona8@gmail.com
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
    pager = delta
[init]
	defaultbranch = main
[pretty]
  colored = format:%C(yellow)%h%C(reset) %C(bold blue)<%an>%C(reset) %s %C(green)(%cr) %C(reset)
  graph = format:%C(yellow)%h%C(reset) -%C(red)%d%C(reset) %s %C(green)(%ar) %C(bold blue)<%an>%C(reset)
  bw = format:%h | %as | %>(20,trunc)%d%x09%s
[alias]
  a = add --all
  d = diff
  dc = diff --cached
  c = commit
  cm = commit -m
  s = status -s
  st = status
  l = log --pretty=oneline --abbrev-commit
  ll = log --pretty=colored --abbrev-commit # --max-count=25
  l1 = log -1 --pretty=colored
  l5 = log -5 --pretty=colored
  lbw = log --pretty=bw
  rl = reflog

  # Comandos utiles
  unstage = reset HEAD -- # quitar archivos del stage
  visual = !gitk # abrir GUI de git
  amend = commit --amend # modificar ultimo commit
  undo = reset --soft HEAD^ # deshace el ultimo commit
  wip = !git add . && git commit -m "WIP" # guardar rapidamente en un commit temporal 'Work In Progress'
[pull]
  rebase = true
[merge]
  tool = code
    conflictstyle = zdiff3
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true # use n and N to move between diff sections
    dark = true     # or light = true, or omit for auto-detection
    line-numbers = true
    side-by-side = true
