[user]
	name = Yordy Carmona
	email = yordy.carmona8@gmail.com
  # signingkey = 5A6E85FD9F012B48 # for gpg linux debian 2025

[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  pager = delta
  compression = 9 # Intercambiar CPU por transferencia de red
  whitespace = error
  preloadindex = true # Cargar el indice en memoria


[init]
  defaultbranch = main

[commit]
  # Need install GPG in system for 'true'
  gpgSign = false
  template = ~/workspace/repos/dotfiles-2024/git/template

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[log]
  abbrevCommit = true
  graphColors = blue,yellow,cyan,magenta,green,red # Orden de los colores

[branch]
  sort = -committerdate

[tag]
  sort = -taggerdate

[pretty]
  colored = format:%C(yellow)%h%C(reset) %C(bold blue)<%an>%C(reset) %s %C(green)(%cr) %C(reset)
  graph = format:%C(yellow)%h%C(reset) -%C(red)%d%C(reset) %s %C(green)(%ar) %C(bold blue)<%an>%C(reset)
  bw = format:%h | %as | %>(20,trunc)%d%x09%s

[alias]
  unstage = reset HEAD -- # remove files from stage
  visual = !gitk # open GUI git, need install
  amend = commit --amend # modify last commit, open editor
  amend-no = commit --amend --no-edit # modify last commit WITHOUT change message
  undo = reset --soft HEAD^ # undo last commit

  aliases = config --get-regexp 'alias.*' # show ALL aliases (gitconfig)

[pager]
  branch = false # no need to use pager for git branch
  tag = false

[push]
  autoSetupRemote = true # easier to push new branches
  default = current # push only current branch by defautl
  followTags = true # push also tags
  gpgSign = false # my remotes doesn't support sign pushes

[pull]
  rebase = true

[rebase]
  autoStash = true

[merge]
  tool = code
  conflictstyle = zdiff3

[interactive]
  diffFilter = delta --color-only

[advice]
  addEmptyPathspec = true
  pushNonFastForward = false
  statusHints = false

# Colors
[color "decorate"]
  HEAD = red
  branch = blue
  tag = yellow
  remoteBranch = magenta

[color "branch"]
  current = magenta
  local = default
  remote = yellow
  upstream = green
  plain = blue

[color "diff"]
  meta = black bold
  frag = magenta
  context = white
  whitespace = yellow reverse

# Third-party: delta
[delta]
  navigate = true # use n and N to move between diff sections
  dark = true     # or light = true, or omit for auto-detection
  line-numbers = true
  side-by-side = true

# URL shortcuts
[url "git@github.com:yordycg/"]
  insteadOf = "ycg:" # Ejemplo: 'gcl ycg:dotfiles'
[url "git@github.com:"]
  insteadOf = "gh:" # Ejemplo: 'gcl gh:torvals/linux'
